* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body h1 {
	text-align: center;
	margin: 1.5rem auto;
}
article {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
}
article .fact {
	width: 50%;
	background-color: #ac3636;
	padding: 0.5rem;
}
article .fact h3 {
	text-align: center;
	margin: auto;
	padding: 0.5rem;
	background-color: #fff;
	color: #ac3636;
	border: 0.2rem solid #ac3636;
	border-radius: 0.33333rem;
}
